/* Heebo Font Family - Hebrew + Latin support */
@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('./Heebo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
